capacitor-lazarillo-map {
  display: inline-block;
  width: 100%;
  height: 300px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}


.grid-2 {
  height: calc(100vh - 300px); /* Altura total menos la altura del mapa */
  overflow-y: auto; /* Scroll vertical */
  overflow-x: hidden; /* Ocultar scroll horizontal */
  margin-top: 300px; /* Espacio para el mapa fijo */
  position: relative;
  z-index: 2;
  background: #ffffff;
  color: #000000;
}

@media (prefers-color-scheme: dark) {
  .grid-2 {
    background: #121212;
    color: #ffffff;
  }
}

ion-popover {
  --backdrop-opacity: 0.6;
  --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
  justify-content: center;
}

ion-button.information-button {
  --padding-start: 0;
  --padding-end: 0;
}

