capacitor-lazarillo-map {
  display: inline-block;
  width: 100%;
  height: 300px;
}

ion-modal#example-modal {
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --backdrop-opacity: 0;
  --ion-background-color: #ffffff;
}

.grid-2 {
  height: 300px;
  overflow: auto;
}

ion-popover {
  --background: white;
  --backdrop-opacity: 0.6;
  --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
  --color: white;
  justify-content: center;
}

ion-popover ion-content {
  --background: rgb(255, 255, 255);
}

ion-button.information-button {
  --padding-start: 0;
  --padding-end: 0;
}

